* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}
/* Header styles */

.site-header {
background-color: #f6f6f6;
margin-bottom: 30px;
}
/* container styles */
.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}
/* heading-wraper styles */
.heading-wraper {
  display: flex;
  align-items: center;
  margin-right: 238px;
}
.heading {
  background-color: #fff;
  padding: 9px 6px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #7296EE;
  margin-right: 35px;
}
.header-text {
  color: #555;
}
.left {
margin-right: 25px;
}
.currency-icon {
  font-weight: 500;
  color: #2959CE;
  margin-right: 2px;
}

/* left heading wraper styles */
.left-heading-wraper {
  display: flex;
  align-items: center;
}
/* search bar styles */
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 60px;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-right: 192px;
  margin-right: 25px;
}
.search-icon {
margin-right: 6px;
width: 20px;
height: 20px;
}
.search-text {
  font-size: 14px;
  line-height: 16px;
  color: #8d8d8d;
}

/* Language bar styles */
.language-bar {
  display: flex;
  align-items: center;
  background-color: #dce6ff;
  border-radius: 39px;
  padding: 3px;
  font-size: 13px;
  line-height: 15px;
  margin-right: 25px;
}
.uz {
  text-decoration: none;
  color: #000;
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 8px;
}
.ru {
  text-decoration: none;
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 9px;
  color: #a6a6a6;
}

/* main link styles */
.main-link {
  background-color: #7296ec;
  padding: 13px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  transition: opacity 0.4s ease;
}
.main-link:hover {
  opacity: 0.6;
}
/* Main page styles */
/* navbar-styles */
.nav-list {
  padding-bottom: 20px;
  display: flex;
  align-items:center;
  list-style-type: none;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}
.nav-item:not(:last-child) {
  margin-right: 34px;
}
.nav-item > a {
  color: #7f7f7f;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

}
.nav-item:hover {
  text-decoration: underline;
}
/* hero image styles */
.bilboard {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
  margin-bottom: 50px;

}

/* hero styles */
.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  margin-left: -10px;
  margin-bottom: -10px;
}
.content-box {
  width: 393px;
  list-style-type: none;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.content-heading {
display: block;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000;
margin-bottom: 10px;
}
.conten-text {
display: block;
text-decoration: none;
color: #4a4b4c;
margin-bottom: 15px;
transition: color 0.4s ease,
opacity 0.4s ease
}
.conten-text:hover {
  color: #2959CE;
}
.conten-text:active {
  opacity: 0.6;
}

/* content img styles */
.content-img {
  display: block;
  width: 358px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 18px;
}

/* source content styles */
.source-content-box {
  display: flex;
  align-items: center;
}
.content-source-img {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.content-source-link {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
  text-decoration: none;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.content-source-link:hover {
  color: #2959CE;
}
.content-source-link:active {
  opacity: 0.6;
}

/* Notification turn on section styles */
.notification-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  background-image: url(../img/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 29px;
  padding-right: 71px;
  margin-top: 60px;
  border-radius: 10px;
}
.center {
  justify-content: center;
  margin-bottom: 60px;
}
.notification-text {
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000;
}
.notification-link {
  background-color: #F78B3B;
  color: #fff;
  padding: 13px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* World news section */
.world-news-container {
  margin-bottom: 100px;
}
.last-section {
  display: flex;
  align-items: center;
}
.heading-world-news {
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000;
margin-bottom: 20px;
}
.world-news-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
}

.card-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  border-radius: 10px;
}
.card-heading {
display: block;
font-weight: 500;
font-size: 19px;
line-height: 26px;
color: #000;
margin-bottom: 10px;
text-decoration: none;
}
.card-text {
  display: block;
  color: #4a4b4c;
  text-decoration: none;
  margin-bottom: 20px;
}
.source-world-news {
  display: flex;
  align-items: center;
}
.source-world-news > img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.source-world-news > p {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;

}
/* world-news-main-link styles */
.world-news-main-link {
  display: block;
  background-color: #eaeaea;
  padding: 17px 343px;
  border-radius: 10px;
  font-weight: 500;
  line-height: 19px;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}
 /* Section main styles */
 .section-main {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 10px;
  margin-top: 47px;
 }
 .article-top {
  margin-top: 0;
 }

 .section-main-heading {
  margin-bottom: 25px;
 }

 .section-main-item {
  border-bottom: 1px solid #d2d2d2;
  list-style-type: none;
 }
.section-main-item:not(:last-child) {
  margin-bottom: 20px;
}
 .section-main-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  margin-bottom: 8px;
 }
 .section-main-item > p {
  display: block;
  color: #5E5F61;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 18px;
 }
 .section-main-img {
  width: 393px;
  height: 324px;
  border-radius: 15px;
 }
 .list-img {
  width: 393px;
  height: 557px;
  object-fit: cover;
 }

 /* Footer styles */
 footer {
  background-color: #7297EF;
  padding: 40px 0;
 }
 .footer-container {
  display: block;
  width: 100%;
  max-width: 1058px;
 }
 .footer-heading {
  display: block;
  background-color: inherit;
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
 }

 .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(206, 206, 206, 0.8);
  margin-bottom: 20px;
 }

 /* footer text styles */
 .footer-text {
  display: flex;
  margin-top: 0;
  margin-bottom: 71px;
  margin-right: 203px;
  width: 230px;
 }
 .footer-text > p {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 19px;
 }

 /* Footer links styles */
 .footer-links {
  display: flex;
  margin-bottom: 30px;
 }
.footer-links-list {
  margin-right: 100px;
}
.footer-links-item {
  list-style-type: none;
}
.footer-links-item > a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.bottom-margin {
  margin-bottom: 0;
}

/* Social networks styles */
.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-networks-heading {
font-size: 18px;
line-height: 23px;
font-weight: 500;
color: #fff;
}
.social-networks-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.social-networks-link:not(:last-child) {
  margin-right: 25px;
}

/* Article page styles */
.article {
  margin-right: 10px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 60px;
}
.article-header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.article-header > img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}
.article-header > p {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #5e5f61;
}

/* article heading styles */
.article-heading {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000;
  margin-bottom: 20px;
}
/* aricle img styles */
.article-img {
  width: 797px;
  height: 300px;
  border-radius: 13px;
  margin-bottom: 25px;
}
/* article text styles */
.article-text {
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
.article-text:not(:last-child) {
  margin-bottom: 24px;
}
.article-text:last-child {
  margin-bottom: 50px;
}
/* random-cards styles */
.random-cards-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 20px;
}
.random-cards-container {
  display: block;
  margin-bottom: 100px;
}
.random-cards-list {
  display: flex;
  align-items: center;
}
.random-cards-item {
  display: block;
  width: 393px;
}

/* Contact Styles */
form {
  display: block;
  margin-right: 10px;
}
.contact-info {
  display: flex;
  align-items: center;
}

.contact-input {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 103px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.top {
  width: 343px;
}
input[type="text"] {
  margin-right: 10px;
}
input[type="email"] {
  width: 696px;
  padding-right: 490px;
}

.text-area {
  width: 696px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 146px;
  padding-right: 486px;
  margin-bottom: 0;
}
::placeholder {
  color: #000;
  line-height: 19px;
}
/* contact list styles */
.contact-list {
  display: block;
  width: 495px;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-item {
  list-style-type: none;
}
.line {
  border: 1px solid #d2d2d2;
  width: 444px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-item-heading {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-bottom: 7px;
}
.contact-item-link {
  text-decoration: none;
  color: #000;
  line-height: 19px;
}

/* Contact-main-link styles */
.contact-main-link-box {
  display: flex;
  justify-content: center;
}
.contact-main-link {
  background-color: #7297EF;
  color: #fff;
  padding: 17px 30px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* Modal page styles */
.bg-modal {
  background-image: url(../img/Home\ 3.jpg);
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.modal-container {
  margin-top: 390px;
  background-color: #fff;
  width: 100%;
  max-width: 850px;
  height: 100%;
  max-height: 251px;
  border-radius: 20px;
}
.exit-icon {
  margin-left: 811px;
  margin-right: 24px;
  margin-top: 24px;
}
.modal-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-info > h3 {
  display: block;
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.modal-heading {
  margin-bottom: 25px;
}
.modal-info > a {
  display: block;
  padding: 15px 40px;
}